# {{ ansible_managed }}

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
{{ haproxy_global }}

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
{{ haproxy_defaults }}

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
{{ haproxy_frontend }}

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
{{ haproxy_backend_static }}

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
{{ haproxy_backends }}

# {{ ansible_managed }}
